@import "../../index.scss";
.nav {
	.PrivateTabIndicator-colorSecondary-3{
	display:none !important;
}

.PrivateTabIndicator-colorSecondary-6 {
    background-color: transparent;
 }
  .MuiTab-textColorInherit{
  	opacity:0.8;
  	font-weight: 800;
  
  		
  	
  }
  .active{
  	border-bottom: 3px solid $brown-links;
  	color: brown;
  	opacity: 1;
  }
}