@import "../../index.scss";
.nav {
	.PrivateTabIndicator-colorSecondary-3{
	display:none !important;
}

.PrivateTabIndicator-colorSecondary-6 {
    background-color: transparent;
 }
  .MuiTab-textColorInherit{
  	opacity:0.9;
  	font-weight: 800;
  
  		
  	
  }
  .active{
  	border-bottom: 3px solid rgba(0,0,0,0.2);
  	color: brown;
  	opacity: 1;
  }
}