@import "../../index.scss";
.nav-bar{
	.PrivateTabIndicator-colorSecondary-3{
	display:none !important;
}
a{
  text-decoration: none;
}
.MuiAppBar-root {
  height:80px;
}

.PrivateTabIndicator-colorSecondary-6 {
    background-color: transparent;
 }
  .MuiTab-textColorInherit{
  	opacity:0.9;
  	font-weight: 800;
  
  		
  	
  }
  .active{
  	border-bottom: 3px solid rgba(0,0,0,0.2);
  	color: brown;
  	opacity: 1;
  }
  .MuiMenu-paper {
    
    max-height: 200px !important;
    overflow-y: scroll;
}
}

.MuiMenu-paper {
    max-height: 200px !important;
}