@import "../../index.scss";

.news-card {
   .MuiPaper-root  {
	box-shadow: 4px 4px 10px rgba(0,0,0,0.2) !important;
	margin:20px 15px;
	min-height: 250px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    z-index:2;

}

 a{
	text-decoration: none;
}
 .MuiCardContent-root{
   background-color: #fff;
	height:50%;
	margin-top: 0px;
}
.card-header{
   
    min-height:40px;
    background-color: $base-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px;
    color: $theme-grey;
    h4{
    	margin-left:5px;
    	margin-right: 5px;
    	opacity:0.6;
    }
    h3{
    	text-transform: uppercase;
    	opacity: 0.8;
    }
}
}