body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/*REFERENCE -BASE COLORS -Orange */
$primary-dark: #ec7907;
$primary-light: #ff9800;
$brown-links: #9d2424;
$theme-grey :#f0f0f0;
$base-color: #ec7907;
/*reference only*/
$dark:#b26a00;
$medium:#ff9800;
$light:#ffac33;

.MuiAppBar-colorPrimary {
    color: #ff9800;
    background-color:  #ec7907 !important;
}